@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.homescreen {
  padding-top: 32px;
  text-align: center;
  margin: 0px auto 32px auto;
  width: 40%;
}

.newGame {
  margin: 8px 0 8px 0;
  > button {
    padding: 4px;
    border: 1px solid white;
    border-radius: 5px;
  }
}

.loadGame {
  display: inline-grid;
  margin: 8px 0 8px 0;
  > input {
    padding: 4px;
    border: 1px solid white;
    border-radius: 5px;
  }
  > button {
    padding: 4px;
    border: 1px solid white;
    border-radius: 5px;
  }
  > #errorCode {
    color: red;
  }
}

.queueScreen {
  padding-top: 32px;
  text-align: center;
  margin: 0px auto 32px auto;
  width: 40%;

  .copyContainer {
    margin-top: 8px;
    display: inline-grid;
    padding: 16px;
    border: 1px solid white;
    border-radius: 8px;
    > canvas {
      margin: 8px auto 8px auto;
    }
    > button {
      display: inline-grid;
      margin: 8px auto 8px auto;
    }
  }
  
}
